<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
  <a class="navbar-brand" href="#">Bem vindo</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
 </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto d-flex align-items-center">
      <li class="nav-link active">
        <img src="https://vandalpower.files.wordpress.com/2019/07/mother-vandal.jpg" alt="How i met your mother" width="50px" heigth="50px" class="img-fluid">
      <li>
      <li class="nav-item pl-3">
        <p class="m-0 font-weight-bold text-white fs-16">How i met your mother</p>
      </li>

      <li class="nav-item pl-3">
          <a href=""> 
            <p class="text-white fs-16 m-3"><i class="fa fa-pencil-square-o "
            aria-hidden="true"></i></p>
          </a>
         </li>

        

        <ul class="d-flex ">
         <li class="nav-item pl-3">
        <a class="m-0 font-weight-bold text-white fs-16">Sair <i class="fa fa-sign-out" aria-hidden="true"></i></a>
        </li>
     </ul>

    



<div>
<nav>